name: home_widget_counter
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    dependencies:
  flutter:
    sdk: flutter
  # താഴെ പറയുന്നവ കൃത്യമായി ചേർക്കുക
  firebase_core: ^2.24.2
  cloud_firestore: ^4.14.0
  firebase_auth: ^4.16.0
  cupertino_icons: ^1.0.2
